.login-form {
    padding-top: 20px;
    margin: auto;
    border: 2px solid grey;
    width: 20%;
    text-align: center;
    min-height: 30%;
    position: absolute;
    top: 32%;
    left: 40%;

}

.submit-btn {
    margin: 50px auto;
    display: block;
}

.input-login-field {
    height:25px;
    display:block;
    margin: 20px auto;
}

.logout-btn {
    text-decoration: none;
    color: black;
    border: 2px solid black;
}

.logout-btn:hover{
    box-shadow: 0 0 3px 2px rgb(0, 0, 0, 0.5)
}

